 <div style="background-color: #f1f6f4; width: 100%;margin-top: 30px;"> 
<div class="container" style="width: 100%;margin-left: 244px;" >
  <div class="row">
    <div class="col-sm-3" style="margin-left: 35px ;margin-top: 38px;">
      <app-bigideas></app-bigideas>
    </div>

    <div class="col-sm-3" style="margin-left: 35px ;margin-top: 38px;">
      <app-company></app-company>
    </div>

    <div class="col-sm-3" style="margin-left: -205px ;margin-top: 38px;">
      <app-editorial></app-editorial>
    </div>

    <div class="col-sm-3" style="margin-left: -235px ;margin-top: 38px;">
      <app-useful-links></app-useful-links>
    </div>
    
  </div>
</div>
<p style="font-family: 'Cera Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
margin-left: 300px;
margin-top: 50px;

color: #6D787E;">© Blinkist 2021 Sitemap   |   Imprint   |   Terms of Service   |   Privacy Policies</p>
 </div>

