<div class="container">
  <div class="column">
    <div class="col-sm">
      <p
        style="
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #03314b;
        "
      >
        Company
      </p>
    </div>
    <div class="col-sm">
      <p class="A">About</p>
    </div>
    <div class="col-sm">
      <p class="A">Careers</p>
    </div>
    <div class="col-sm">
      <p class="A">partners</p>
    </div>
    <div class="col-sm">
      <p class="A">Code of Conduct</p>
    </div>
  </div>
</div>
