.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #6d787e;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #22c870;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

/* Styles for the ink bar */

.mat-ink-bar {
  background-color: #6d787e;
  width: 304px;
}
.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #22c870;
  width: 304px;
}
