<div class="container">
  <div class="row">
    <div class="col-sm">
      <icon-svg-example></icon-svg-example>
    </div>
    <div class="col-sm" style="margin-top: 32px; margin-left: 10px">
      <p
        style="
          width: 378px;
          height: 64px;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #0365f2;
        "
      >
        Big ideas in small packages Start learnign now
      </p>
    </div>
  </div>
</div>
